*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.sarma{
	padding: 1%;
	width: 80%;
	margin: 0 auto;
}

.text-center{
	text-align:center;
}

.clearfix{
	float: none;
	clear: both;
}

.admintbl{
	width: 100%;
}

.tbladek{
	width: 30%;
}

table tr th{
	border-bottom: 1px solid black;
	padding: 1%;
	text-align: left;
}

table tr td{
	padding: 1%;
}

.btnprimary{
	background-color:#2c3e50;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btnprimary:hover{
	background-color:#34495e;
}


.btndzn{
	background-color:#27ae60;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btndzn:hover{
	background-color:#2ecc71;
}

.btnsil{
	background-color:#c0392b;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.btnsil:hover{
	background-color:#e74c3c;
}

.basarili{
	color:#2ed573;
}
.hatali{
	color:#ff4757;
}
.menu{
	border-bottom: 1px solid grey;
}
.menu ul{
	list-style-type: none;	
}
.menu ul li{
	display: inline;
	padding: 1%;
}
.menu ul li a{
	text-decoration: none;
	font-weight: bold;
	color: red;
}
.menu ul li a:hover{
	color:blue;
}

.anaicerik{
	background-color: #7f8c8d;
	padding: 3% 0;
}

.col-4{
	width: 18%;
	background-color: white;
	margin: 1%;
	padding: 2%;
	float: left;
}

.footer{
	background-color: blue;
	color: white;
}

.login{
	border:1px solid grey;
	width:30%;
	margin:10% auto;
	padding:2%;
}